rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read all users (e.g. for driver to see students, etc)
    // Allow users to write their own user profile
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Default rule for other collections: allow authenticated users
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
